body, html {
    height: 100%;
}
#gallery{
  border-radius: 20%;margin: 90px;
  box-shadow: 0 0 10px 0px black;
}
#gallery:hover{
  box-shadow: 0 0 20px 0px black;
}
#video{
  box-shadow: 0 0 10px 0px black;
}
#video:hover{
  box-shadow: 0 0 20px 0px black;
}
#minigallery{
  position: absolute;
}
#image{
  padding: 10px 10px 30px 10px;
  box-shadow: 0 0 10px 0px black;
}
#image:hover{
  box-shadow: 0 0 20px 0px black;
}
#carousel2{
  box-shadow: 0px 0px 5px black;
}
#carousel2:hover{
  box-shadow: 0 0 15px 0px black;
}
#parallax{
  background-image: url('../img/smeasevent2.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* @media screen and (max-width: 768px){
  #parallax{
    background-image: url('https://wikiki.github.io/images/singer.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
} */
@font-face {
  font-family: Comfortaa;
  src: url(fonts/Comfortaa-Light.ttf);
}
@font-face {
  font-family: CODE;
  src: url(fonts/CODE-Bold.otf);
}
@font-face {
  font-family: BEBAS;
  src: url(fonts/BEBAS.ttf);
}
@font-face {
  font-family: arista;
  src: url(fonts/arista.alternate-light.ttf);
}
.carousel-nav-left,.carousel-nav-right{
  box-shadow: 0px 0px 5px black;
}
.carousel-nav-left:hover,.carousel-nav-right:hover{
  box-shadow: 0 0 15px 0px black;
}
.card.has-shadow{
  box-shadow: 0px 0px 5px black;
}
.card.has-shadow:hover{
  box-shadow: 0 0 20px 0px black;
